*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 130px 130px repeat(4, 1fr);
    grid-template-rows: 60px repeat(5, auto);
    grid-template-areas: "navBar             navBar              cabecera            cabecera            cabecera            cabecera" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC";
    /*gap: 10px 10px;
    background-color: #F2EDF3 !important; */
    background-color: aliceblue;
}


/* body>* {
    background-color: #666;
    border: medium solid #222;
} */

.sideBar {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div#sideBar {
    display: flex;
    flex-direction: column;
}

ul#nav-mobile {
    display: flex;
    flex-direction: column;
}

.cabecera {
    grid-area: cabecera;
}

.navBar {
    grid-area: navBar;
}

.breadcrumb {
    grid-area: breadcrumb;
    position: sticky;
    top: 0px;
    z-index: 2;
}


/* Content*/

.containerCards {
    grid-area: containerCards;
}

.mainC {
    grid-area: mainC;
    padding: 10px;
}

.drop-zone {
    margin-top: 10px;
    max-width: 100%;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed black;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 15rem;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


/* .mainContent {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
} */


/*End Content*/


/*Nav*/

a {
    color: #fff;
}

div.bread {
    margin-left: 5px;
}

div.nav-wraper {
    margin-left: 15px;
}

nav span.material-icons {
    display: inline-block;
    cursor: pointer;
}

.sideBar {
    padding: 5px;
    background-color: #0077c2;
}

.topNav {
    background-color: #42a5f5;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

#menu {
    align-self: center;
}

#logout {
    align-self: center;
}

.logoBar {
    display: flex;
    align-items: center;
}

.navLinks {
    padding-left: 10px !important;
    position: sticky;
    top: 30px;
    max-height: 172px;
}

ul li {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.infoItem {
    margin-left: 20px;
}

.listItems {
    cursor: pointer;
}


/*End Nav*/


/*Cards*/

.btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 17.5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.card .card-image img {
    max-height: 200px;
    min-height: 200px;
}


/*Botones*/


/* #guardarImg {
    margin-top: 10px;
    margin-bottom: 50px;
} */

.actionSection{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;

}

#guardarImg{

    width: 50%;

}


/*Iconos*/

.md-40 {
    font-size: 60px;
}

.md-20 {
    font-size: 30px;
}


/*Imagen*/