*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "leftLogin      leftLogin       rightLogin      rightLogin" "leftLogin      leftLogin       rightLogin      rightLogin" "leftLogin      leftLogin       rightLogin      rightLogin" "leftLogin      leftLogin       rightLogin      rightLogin";
    /*gap: 10px 10px;
    background-color: #F2EDF3 !important;*/
}


/* body>* {
    background-color: #666;
    border: medium solid #222;
}  */

.leftLogin {
    grid-area: leftLogin;
    /* background-color: #304D74; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightLogin {
    grid-area: rightLogin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EDF3;
}

.btn-login {
    background-color: #006B91;
}

.md-40 {
    font-size: 80px;
    color: #006B91;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#logoCarvagu {
    width: 500px;
    transition: 1s;
}

@media(prefers-color-scheme: dark) {
    .leftLogin {
        background-color: #000000;
    }
    .rightLogin {
        background-color: #212121;
    }
    .card {
        background-color: #484848;
    }
    h5.card-title {
        color: white;
    }
    .btn-login {
        background-color: white;
        color: black !important;
    }
    .md-40 {
        font-size: 80px;
        color: white;
    }
    .swal2-popup {
        background-color: #484848;
    }
    .swal2-title {
        color: white;
    }
    .swal2-html-container {
        color: white;
    }
}