*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 130px 130px repeat(4, 1fr);
    grid-template-rows: 60px repeat(5, auto);
    grid-template-areas: "navBar             navBar              cabecera            cabecera            cabecera            cabecera" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC" "navBar             navBar              mainC               mainC               mainC               mainC";
    /*gap: 10px 10px;
    background-color: #F2EDF3 !important; */
    background-color: aliceblue;
}


/* body>* {
    background-color: #666;
    border: medium solid #222;
} */

.sideBar {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div#sideBar {
    display: flex;
    flex-direction: column;
}

ul#nav-mobile {
    display: flex;
    flex-direction: column;
}

.cabecera {
    grid-area: cabecera;
}

.navBar {
    grid-area: navBar;
}

.breadcrumb {
    grid-area: breadcrumb;
    position: sticky;
    top: 0px;
    z-index: 2;
}


/* Content*/

.containerCards {
    grid-area: containerCards;
}

.mainC {
    grid-area: mainC;
    padding: 10px;
}

.mainContent {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}


/*End Content*/


/*Nav*/

a {
    color: #fff;
}

div.bread {
    margin-left: 5px;
}

div.nav-wraper {
    margin-left: 15px;
}

nav span.material-icons {
    display: inline-block;
    cursor: pointer;
}

.sideBar {
    padding: 5px;
    background-color: #0077c2;
}

.topNav {
    background-color: #42a5f5;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

#menu {
    align-self: center;
}

#logout {
    align-self: center;
}

.logoBar {
    display: flex;
    align-items: center;
}

.navLinks {
    padding-left: 10px !important;
    position: sticky;
    top: 30px;
    max-height: 172px;
}

ul li {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.infoItem {
    margin-left: 20px;
}

.listItems {
    cursor: pointer;
}


/*End Nav*/


/*Cards*/

.btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Iconos*/

.md-40 {
    font-size: 60px;
}

.md-20 {
    font-size: 30px;
}

.material-icons.table {
    margin: 6px 0 0 0;
}


/*Botones*/

.btn-floating {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

button.btn {
    margin-left: 10px;
}


/*Tablas */

table#table {
    width: 100%;
}

.tableContainer {
    width: 100%;
}

label input {
    height: 20px !important;
}

div.dataTables_length {
    display: none;
}